# Binaries
_bin/
_obj/
Intermediates/

# Hazel files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Makefiles
Makefile
CMakeLists.txt

# Mac files
.DS_Store
*.DS_Store


